.App {
  text-align: center;
}

.navigation {
  padding-top: 20px;

}

.btn_home {
  width: 100vw;
  height :100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
}

.gallery-container {
  width: 80vw;
  margin: 20px auto;
}

.gallery-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
img {
  width: 160px;
}
.btn-gallery {
  margin-bottom: 20px;
}
